= file_field :publication, :images, name: 'publication[images][]', class: 'is-hidden', accept: 'image/jpeg, image/jpg, image/png', 'data-action': 'change->edit-publications#attachImage', id: "imageInput#{@input_id}"
