%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "9e4756a5-b61d-445c-9c7f-a979d1b3dbed", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "#FFFFFF", :height => "100%", :role => "module-content", :style => "padding:18px 10px 18px 10px; line-height:35px; text-align:inherit; background-color:#FFFFFF;", :valign => "top"}
        %div
          %div{:style => "font-family: inherit; text-align: center"}
            %span{:style => "font-size: 18px; font-family: arial, helvetica, sans-serif"} Thanks for joining Cher
            %span{:style => "color: #000000; font-family: arial, helvetica, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-size: 8px"} ®
          %div{:style => "font-family: inherit; text-align: center"}
            %span{:style => "font-size: 18px; font-family: arial, helvetica, sans-serif"} Start connecting with co-owners!
          %div{:style => "font-family: inherit; text-align: center"}
            %br/
          %div{:style => "font-family: inherit; text-align: center"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial"} → Follow your
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial"}
              %strong Progress Bar
          %div{:style => "font-family: inherit; text-align: center"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial"} → I
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; text-align: left; background-color: rgb(255, 255, 255); float: none; display: inline"}nvite buyers to join
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; text-align: left; background-color: rgb(255, 255, 255); float: none; display: inline"}
              %strong My Network
          %div{:style => "font-family: inherit; text-align: center"}
            → Track clients and create
            %strong Escrow Groups
          %div
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "5b7e6b75-f96a-4355-80ee-95edbd793300", "data-role" => "module-button", "data-type" => "button", :role => "module", :style => "table-layout:fixed;", :width => "100%"}
  %tbody
    %tr
      %td.outer-td{:align => "center", :bgcolor => "", :style => "padding:0px 0px 0px 0px;"}
        %table.wrapper-mobile{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align:center;"}
          %tbody
            %tr
              %td.inner-td{:align => "center", :bgcolor => "#FC313F", :style => "border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"}
                %a{:href => @dynamic_template_data[:confirmation_url], :style => "background-color:#FFE45C; border:1px solid #FFE45C; border-color:#FFE45C; border-radius:6px; border-width:1px; color:#000000; display:inline-block; font-size:14px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;", :target => "_blank"} Confirm My Account
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "dece1e36-6de7-436b-b04d-aab7bb54d5ef", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "ed8b639c-3797-473e-b328-bd226eaff603.2", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
          %tbody
            %tr
              %td{:bgcolor => "#EAF1F9", :style => "padding:0px 0px 5px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "63ba04f0-5c51-4275-8e44-8e638f78e5a6", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "38d78e25-a154-47cb-8452-eec817411433", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:align => "center", :style => "font-size:6px; line-height:10px; padding:0px 0px 0px 0px;", :valign => "top"}
        %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "http://cdn.mcauto-images-production.sendgrid.net/e1e4535fea1bb147/f834da53-bec4-44f8-8d63-275acb9da348/1190x577.png", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;", :width => "600"}/
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "f4949051-45d3-4bb2-86fb-dd384da63276", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "ed8b639c-3797-473e-b328-bd226eaff603.3", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
          %tbody
            %tr
              %td{:bgcolor => "#EAF1F9", :style => "padding:0px 0px 5px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "ed8b639c-3797-473e-b328-bd226eaff603.3.1", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
          %tbody
            %tr
              %td{:bgcolor => "#EAF1F9", :style => "padding:0px 0px 5px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "6c9460d2-13ce-4d8c-943a-09d8fce2d009", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "2ad5177d-9616-45d1-8d7f-7f4e72adee75", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:align => "center", :style => "font-size:6px; line-height:10px; padding:0px 0px 0px 0px;", :valign => "top"}
        %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "http://cdn.mcauto-images-production.sendgrid.net/e1e4535fea1bb147/bf333ba2-bc85-450c-9f4f-8c0b4684e9fb/1186x491.png", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;", :width => "600"}/
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "4ba753bc-ab93-406b-bc62-3d67de1f4ddf", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "ed8b639c-3797-473e-b328-bd226eaff603.3.2.2", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
          %tbody
            %tr
              %td{:bgcolor => "#EAF1F9", :style => "padding:0px 0px 5px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "ed8b639c-3797-473e-b328-bd226eaff603.1", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
          %tbody
            %tr
              %td{:bgcolor => "#EAF1F9", :style => "padding:0px 0px 5px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "cc963fb5-6350-4994-9e70-d219cfd4d1a9", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "51411e6d-161a-42b9-9a57-31606a0e02b9", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:align => "center", :style => "font-size:6px; line-height:10px; padding:0px 0px 0px 0px;", :valign => "top"}
        %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "http://cdn.mcauto-images-production.sendgrid.net/e1e4535fea1bb147/f228d7f8-32b6-45a9-a7ae-215a810b097d/3177x2118.png", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;", :width => "600"}/
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "37f1ee0f-b5fa-4911-8bcc-7774c3d9836c", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "ed8b639c-3797-473e-b328-bd226eaff603.3.2.1", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
          %tbody
            %tr
              %td{:bgcolor => "#EAF1F9", :style => "padding:0px 0px 5px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "ed8b639c-3797-473e-b328-bd226eaff603.3.2.1.1", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 0px 0px 0px;", :valign => "top"}
        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
          %tbody
            %tr
              %td{:bgcolor => "#EAF1F9", :style => "padding:0px 0px 5px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "47fdc1e6-f834-48cb-bf6a-c147adff03b2", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "47fdc1e6-f834-48cb-bf6a-c147adff03b2.1", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
