%h2.has-text-weight-bold.has-text-centered
  Privacy Policy
.has-text-justified
  %p
    Protecting your private information is our priority. This Privacy Policy applies to www.cher.realty and Cher Inc. and governs data collection and usage of our websites, our mobile and desktop application, our other properties and/or our related services (collectively known as the “Services,” or, each individually, a “Service”). For the purposes of this Privacy Policy, unless otherwise noted, all references to Cher Inc. include www.cher.realty and Cher. The Cher website is a Social networking, gathering financial information, providing mortgage options, hosting real estate transactions site. This Privacy Policy descries the policies and procedures of Cher, Inc. (“Cher,” “we,” “our” or “us”) on the collection, use and disclosure of your information (“Collected Information”) on Cher’s Services.
  %br 
  %p
    Cher receives information about you from various sources, including: (i) if you register for the Services, through your use account; (ii) your use of the Services generally; and (iii) from third party websites, services, content, or resources.  When you use the Services, you are consenting to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy.
  %br 
  %p
    This Privacy Policy also covers our treatment of any personally identifiable information (“Personal Information”) that our business partners may share with us or that we share with our business partners.
  %br 
  %p
    This Privacy Policy does not apply to the practices of third parties that we do not own or control, including but not limited to any third party websites, services and applications (“Third Party Services”) that you elect to access through the Services or to individuals that we do not manage or employ.  While we attempt to facilitate access only to those Third Party Services that share our respect for your privacy, we cannot take responsibility for the content or privacy policies of those Third Party Services.  We encourage you to carefully review the privacy policy of any Third Party Services you access.
  %br 
  %p
    At Cher, we are committed to upholding a high standard when it comes to our privacy policies.  We use secure technologies and follow best practices to safeguard your personal data, including encryption with SSL Technology.
  %br 
  %p
    While we use all reasonable efforts to safeguard your personal data, you acknowledge that the use of the internet is not entirely secure.  For this reason, you acknowledge that there is no guarantee the security or integrity of any personal data that are transferred from you or to you via the internet.
  %br 
  %p.has-text-weight-bold
    Collection of your Personal Information
  %p
    In order to bextter provide you with products and services offered on our Site, Cher may collect personally identifiable information, such as your:
  %br
  %ul.has-dashes
    %li
      First and Last Name
    %li
      Mailing Address
    %li
      E-mail Address
    %li
      Phone Number
    %li
      Employer
    %li
      Job Title
    %li
      Social security, citizenship, financial information including FICO, personality results
  %br
  %p
    If you purchase Cher's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction.
  %br
  %p
    Cher may also collect anonymous demographic information, which is not unique to you, such as your:
  %br 
  %ul.has-dashes
    %li
      Age
    %li
      Gender
    %li
      Race
    %li
      Religion
    %li
      Household Income
  %br 
  %p
    Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through Cher's public message boards, this information may be collected and used by others.
  %br 
  %p
    We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services available on the Site. These may include: (a) registering for an account on our Site; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services on our Site. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future.  We may also collect “non-personally identifiable” information, meaning information that cannot be used to specifically identify you.  Cher uses both types of information, including combinations of thereof, as described herein.
  %br 
  %p.has-text-weight-bold
    Use of your Personal Information
  %p
    Cher collects and uses your personal information to operate its website(s) and deliver the Services you have requested.
  %br 
  %p
    Cher may also use your personally identifiable information to inform you of other products or services available from Cher and its affiliates.
  %br 
  %p
    Cher generally uses the information collected about you to provide and improve the Services, including to:
    %ul.has-dashes
      %li
        provide and deliver the  Services, process transactions and send related information such as confirmations and invoices;
      %li
        send you technical notices, updates, security alerts and support and administrative messages;
      %li
        respond to your comments, questions and requests and provide customer service;
      %li
        communicate with you about products, services, offers, promotions, rewards and events offered by Cher and others, and provide news and information we think will be of interest to you;
      %li
        monitor and analyze trends, usage and activities in connection with our Services;
      %li
        revise, modify, and update existing Services and develop new Services;
      %li
        detect, investigate and prevent fraudulent transactions and other illegal activities and protect the rights and property of Cher and others, and prosecute those responsible for that activity;
      %li
        personalize the Services and present you with advertising, content, or features that we believe will be of interest or useful to you;
      %li
        facilitate contests, sweepstakes and promotions and process and deliver entries and rewards;
      %li
        link or combine with information we get from others to help you understand your needs and provide you with better service; and
      %li
        carry out any other purpose described to you at the time the information was collected.
  %br 
  %p.has-text-weight-bold
    Sharing Information with Third Parties
  %p
    Cher may sell, rent, or lease customer information to third parties for the following reasons:
  %br 
  %p
    Please be aware that home sales and purchases may be a matter of public record, and your name and address, the price you paid, your property taxes, and other information may be available from public sites regardless of the brokerage(s), if any, who assist in the transaction.
  %br 
  %p
    For real estate professionals to contact the users of this information to solicit a home sale or real estate related work. Cher may refer you to a real estate professional in our discretion.  If you are referred to a real estate professional, we share your information with that real estate professional so s/he may assist you.  Cher is not responsible for the work performed or the services provided by real estate professionals in any manner or form.
  %br 
  %p
    Cher may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is transferred to the third party. Cher may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Cher, and they are required to maintain the confidentiality of your information.
  %br 
  %p
    If and when Cher is involved in a merger, acquisition, or any form or transfer or sale of some or all of its business, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, we may share your personal information in connection with that transaction.
  %br 
  %p
    Cher may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Cher or the site; (b) protect and defend the rights or property of Cher; and/or (c) act under exigent circumstances to protect the personal safety of users of Cher, or the public.
  %br 
  %p.has-text-weight-bold
    Internet-Based Advertisin
  %p
    Cher participates in internet-based advertising.  This means that when you use the Services, we or third party service providers or advertisers may use cookies (that they collect or that we provide to them) or other similar technologies to collect information about your use of the Services (including mobile applications) or your online activities over time and across different websites and devices.  Collected information may include the content you view, the date and time that you view this content, and the website that referred you to the Services, and this information may be associated with your unique browser, device identifier, or Internet Protocol (“IP”) address.  These practices help tailor advertisements that are relevant and use to you.  These tailored advertisements may appear on the Services or on other websites, applications or properties.
  %br 
  %p
    In addition, if you have provided your email address to us, we may use your email address to deliver tailored advertisements to you on the Services or on other websites.
  %br 
  %p
    You may opt-out of cooking tracking and analysis.  Cher’s third-party ad servers, ad network providers, third-party advertisers (collectively referred to as “Ad Providers”) may provide you with advertisements that you may see on the Services or on other affiliated websites.  To improve the relevancy and help measure the effectiveness of such advertisements, the Ad Providers may use cookies, web beacons, clear gifs or similar technologies.  These are used to record users’ activity, such as the pages visited, and to learn what types of information are of most interest to the users.  [NEED TO ADD OPT OUT INFORMATION]
  %br 
  %p.has-text-weight-bold
    Individual Rights Regarding Personal Information
  %p
    In accordance with applicable law, you may have the right to: (i) request confirmation of whether we are processing your Personal Information; (ii) obtain access to or a copy of your Personal Information; (iii) receive an electronic copy of Personal Information that you have provided to us, or ask us to send that information to another company; (iv) restrict our uses of your Personal Information; (v) seek correction or amendment of inaccurate, untrue, incomplete, or improperly processed Personal Information; and (vi) request erasure of Personal Information held about you by Cher, subject to certain exceptions prescribed by law.  If you would like to exercise any of these rights, please contact us as set forth below.
  %br 
  %p.has-text-weight-bold
    Information Storage and Security
  %br 
  %p.has-text-weight-bold
    Tracking User Behavior
  %p
    Cher may keep track of the websites and pages our users visit within Cher, in order to determine what Cher services are the most popular. This data is used to deliver customized content and advertising within Cher to customers whose behavior indicates that they are interested in a particular subject area.
  %br 
  %p
    User Heatmaps
  %p.has-text-weight-bold
    Location Data
  %p
    If you enable location services on your mobile device, Cher may collect the location of your device, which we use to provide you with location-based information and advertising.  If you wish to deactivate this feature, you can disable location services on your mobile device.
  %br 
  %p
    Automatically Collected Information
    Information about your computer hardware and software may be automatically collected by Cher. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Cher website.
  %br
  %p.has-text-weight-bold
    Use of Cookies
  %p
    The Cher website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
  %br 
  %p
    One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Cher pages, or register with Cher site or services, a cookie helps Cher to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Cher website, the information you previously provided can be retrieved, so you can easily use the Cher features that you customized.
  %br 
  %p
    You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Cher services or websites you visit.
  %br 
  %p.has-text-weight-bold
    Links
  %p
    This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
  %br 
  %p.has-text-weight-bold
    Security of your Personal Information
  %p
    Cher secures your personal information from unauthorized access, use, or disclosure. Cher uses the following methods for this purpose:
  %br
  %ul.has-dashes
    %li
      SSL Protocol
  %br 
  %p
    When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
  %br 
  %p
    We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.
  %br 
  %p
    Cher seeks to protect your Personal Information ensure that it is kept private.  Cher stores all of your information using industry-standard techniques.  However, Cher cannot guarantee the security of Personal Information.  Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of Personal Information at any time.  Your Personal Information will be protected by a password for your privacy and security.  You need to provide unauthorized access to your account and Personal Information and protect your password.
  %br 
  %p
    When we collect, maintain, access, use or disclose your Personal Information, we will do so using systems and processes consistent with information privacy and security requirements under applicable federal and state laws.  You can access, update, and delete Personal Information you provide to Cher in your account profile by logging into your account on the relevant Service.  Cher may maintain a copy of the original version of your information in our records.
  %br 
  %p
    We will retain your information for as long as necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law. 
  %br 
  %p.has-text-weight-bold
    Children
  %p
    Cher’s Services are not directed to children under thirteen (or other age as required by local law), and Cher does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.  If you learn that your child has provided us with Personal Information without your consent, you may contact us at the email address below with the subject line “COPPA Child Information Request.”  If we learn that we have collected any Personal Information from a child in violation of applicable law, we will promptly take steps to delete such information.
  %br 
  %p.has-text-weight-bold
    Supervisory Authority
  %p
    If you are located in the European Economic Area, you have the right to lodge a complaint with a supervisory authority if you believe our processing of your Personal Information violates applicable law.
  %br 
  %p.has-text-weight-bold
    Opt-Out & Unsubscribe from Third Party Communications
  %p
    We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from third-party partners of Cher by contacting us here:
  %br
  %ul.has-dashes
    %li
      Web page: www.cher.realty
    %li
      Email: _________________
    %li
      Phone: _________________
  %br
  %p.has-text-weight-bold
    E-mail Communications
  %p
    From time to time, Cher may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication. In order to improve our Services, we may receive a notification when you open an email from Cher or click on a link therein.
  %br 
  %p
    If you would like to stop receiving marketing or promotional communications via email from Cher, you may opt out of such communications by clicking on the UNSUBSCRIBE button.
  %br
  %p.has-text-weight-bold
    Changes to this Statement
  %p
    Cher reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.
  %br
  %p.has-text-weight-bold
    Contact Information
  %p
    Cher welcomes your questions or comments regarding this Statement of Privacy. If you believe that Cher has not adhered to this Statement, please contact Cher at:
  %br
  %p
    Cher Inc.
    16192 Coastal Highway
    Lewes, Delaware 19958
  %br
  %p
    Email Address:
    eric@cher.realty
  %br
  %p
    Telephone number:
    9496837472
  %br
  %p
    Effective as of January 28, 2019
     
