
%h2.has-text-weight-bold.has-text-centered
  Terms and Conditions
.has-text-justified
  %p.has-text-weight-bold
    Terms of Service
  %br
  %p
    In this Terms of Services, Cher®, Inc. (“Cher,” “we,” “us” or “our”), provides the terms and conditions that govern access and use of Cher’s website, products, and services (collectively, “Services”).  The Services are offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). Your use of the Services constitutes your agreement to all such Terms.  These Terms set forth the legally binding terms and conditions for your use of our Services.  Please read these terms carefully, and keep a copy of them for your reference.
  %br
  %p
    Cher is a real estate marketplace for both co-owners and real estate professionals that utilizes social mediums as one method of networking.  Website and mobile application that allows users to search for real estate properties, engage with friends, and ultimately purchase real estate together as co-owners.  Two or more people are each separately approved for part of a mortgage on a property, and collectively they borrow and purchase the property together.  By doing so, co-owning more homes that are affordable and desirable are made possible. This service is available for co-owners looking to co-own their primary residence as well as investment properties.  Ownership interests are shared equally through joint tenancy.  Existing homeowners are able to have new co-owners be brought onto their existing title and mortgage payments.
  %br
  %p.has-text-weight-bold
    PLEASE NOTE: WHERE PERMITTED BY APPLICABLE LAW, THIS AGREEMENT CONTAINS A BINDING AND FINAL ARBITRATION PROVISION AND CLASS ACTION WAIVER.  PLEASE READ THESE TERMS CAREFULLY.  BY ENTERING INTO THIS AGREEMENT, YOU ACKNOWLEDGE THAT YOU UNDERSTAND THIS AGREEMENT (INCLUDING THE DISPUTE RESOLUTION AND ARBITRATION PROVISIONS) AND AGREE TO ALL OF ITS TERMS.  IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU MAY NOT USE OR ACCESS THE SERVICES.
  %br
  %p.has-text-weight-bold
    Acceptance of Terms of Service
  %br
  %p
    By accessing or using our Services in any manner, including but not limited to visiting or browsing our website, you agree to be bound by the Terms of Service and any and all other operating rules, policies and procedures that are referenced herein including, but not limited to, our Acceptable Use Policy, Intellectual Property Policy, and Privacy Policy, which may be updated from time to time without notice to you.
  %br
  %p
    The Services may be subject to additional terms and conditions specified by us from time to time and your use of such Services is subject to these additional terms and conditions, which are incorporated into these Terms of Service by this reference.
  %br
  %p
    These Terms of Service apply to all users of the Services, including, without limitation, users who are contributors of content, information, and other materials or services, registered or otherwise.
  %br
  %p.has-text-weight-bold
    Use of the Services
  %br
  %p
    You may use our Services only in compliance with these Terms of Service and you are solely responsible for ensuring that these Terms of Service are in compliance with all laws, rules and regulations applicable to you and the right to access the Services is revoked where these Terms of Service or use of the Services is prohibited or to the extent offering, sale or provision of the Services conflicts with any applicable law, rule or regulation.  You represent and warrant that you are either (i) at least 18 years of age, (ii) are a legal resident of the United States, (iii) have not been previously suspended or removed from the Services, or engaged in any activity that could result in suspension or removal from the Services, (iv) do not have more than one Cher account, and (v) have full power and authority to enter into these Terms of Service and in so doing do not violate any other agreement to which you are a party.  If you open an account on behalf of a company, organization, or other entity, then as used herein: (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms of Service and bind the entity to these Terms of Service, and that you agree to these Terms of Service on the entity's behalf.
  %br
  %p
    Cher may, in our sole discretion, refuse to offer the Services to any person or entity and change its eligibility criteria at any time.
  %br
  %p.has-text-weight-bold
    Activating Your Account
  %br
  %p
    To sign up and activate our Services, you must register and activate a new Cher account on the Services (an “Account”).  You must provide accurate and complete information (including without limitation your personal identification and billing information) and keep your Account information updated.
  %br
  %p
    You shall not: (i) select or use as a username a name of another person with the intent to impersonate that person; (ii) use as a username a name subject to any rights of a person other than you without appropriate authorization; or (iii) use, as a username, a name that is otherwise offensive, vulgar or obscene.  You may never use another person’s user account or registration information for the Services without permission.  Please select a secure password for your Account and keep your password confidential.  You should never publish, distribute or post login information for your Account.
  %br
  %p
    You are solely responsible for keeping your Account password confidential and secure, and further understand you are solely responsible and liable for any activity that occurs on your Account.  You must notify us through info@cher.app within thirty (30) calendar days of any change in your eligibility to use the Services (including any changes to or revocation of any licenses from state or federal authorities), breach of security, or unauthorized use of your Account.  You shall have the ability to delete your Account, either directly or through a request made to one of our employees or affiliates.
  %br
  %p
    By creating an Account, you expressly consent to the use of: (i) electronic means to complete these Terms of Service and to provide you with any notices given pursuant to these Terms of Service; and (ii) electronic records to store information related to these Terms of Service or your use of the Services.  By continuing to access or use the Services after any revision to these Terms of Service becomes effective, you agree to be bound by the revised terms.
  %br
  %p
    Cher cannot and will not be liable for any loss or damage arising from your failure to comply with the requirements under this Section.
  %br
  %p
    You acknowledge that Cher is not responsible for third-party access to your account that results from theft or misappropriation of your account.  Cher and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion.
  %br
  %p.has-text-weight-bold
    Content
  %br
  %p
    For the purposes of these Terms of Service, the term “Content” includes, without limitation, information, data, text, photographs, videos, audio clips, written posts and comments, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible on or through the Services.
  %br
  %p
    Cher’s Services may contain Content specifically provided by us, our partners or our users and such Content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws.  You shall abide by and maintain all copyright notices, information, and restrictions contained in any Content accessed through the Services.
  %br
  %p
    User Content includes, without limitation, all Content added, created, uploaded, submitted, distributed, or posted to the Services by users, whether publicly posted (“Public User Content”) or privately transmitted (“Private User Content”).  User Content is the sole responsibility of the person who originated such User Content.  You represent that all User Content provided by you is accurate, complete, up-to-date, and in compliance with all applicable laws, rules and regulations.  You acknowledge that all Content, including User Content, accessed by you using the Services is at your own risk and you will be solely responsible for any damage or loss to you or any other party resulting therefrom. We do not guarantee that any Content you access on or through the Offerings is or will continue to be accurate.  As part of your access to our Services you agree to abide by our Acceptable Use Policy.  Except as expressly provided in these Terms of Service, you agree not to use, modify, reproduce, distribute, sell, license, or otherwise use our Offerings without our permission.
  %br
  %p
    Subject to these Terms of Service, Cher grants each user of the Services a worldwide, non-exclusive, non-sublicensable, and non-transferrable license to use (i.e., to download and display locally) Content solely for the purpose of using the Services.  Use, reproduction, modification, distribution or storage of any Content for purposes other than your personal use of the Services is expressly prohibited without prior written permission from Cher.  You shall not sell, license, rent, or otherwise use or exploit any Content for commercial use in any way that violates any third-party right.  Unless otherwise expressly agreed in writing by Cher, the Services are only permitted to be used within the United States of America.  This license is revocable at any time.
  %br
  %p
    By submitting Private User Content through the Services, you hereby do and shall grant Cher a worldwide, non-exclusive, perpetual (provided however that you will have the right to revoke such license at any time or upon termination of your Account), royalty-free, fully paid, sublicensable and transferable license to aggregate, anonymize, analyze, evaluate and publish the Private User Content solely as necessary to provide you with the Services.  By submitting Public User Content through the Services, you hereby do and shall grant us a worldwide, non-exclusive, perpetual, royalty-free, fully paid, sublicensable and transferable license to use, store, edit, modify, truncate, aggregate, reproduce, transmit, distribute, display, publish, perform and otherwise fully exploit the Public User Content in connection with the Services and our (and our successors' and assigns') businesses, including without limitation, for promoting and redistributing part or all of the Services (and derivative works thereof) in any media formats and through any media channels (including, without limitation, third-party websites and feeds), and including after your termination of your Account or the Services.  You also hereby do and shall grant each user of the Services a non-exclusive, perpetual license to access your Public User Content through the Services, and to use, edit, modify, reproduce, distribute, prepare derivative works of, display, publish and perform such Public User Content, including after your termination of your Account or the Services.  For clarity, the foregoing license granted to Cher and our users do not affect your other ownership or license rights in your User Content, including the right to grant additional licenses to your User Content, unless otherwise agreed in writing. You represent and warrant that you have all rights to grant such licenses to us without infringement or violation of any third-party rights, including without limitation, any privacy rights, publicity rights, copyrights, trademarks, contract rights, or any other intellectual property or proprietary rights.
  %br
  %p
    Cher does not guarantee that any Content will be made available on or through the Services.  Cher reserves the right to, but does not have any obligation to, (i) remove, edit or modify any Content in our sole and exclusive discretion, at any time, without notice to you and for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if we are concerned that you may have violated these Terms of Service), or for no reason at all and (ii) to remove or block any Content from the Services.
  %br
  %p
    Notwithstanding anything to the contrary in these Terms of Service, Cher’s Services, and Content may include software components provided by Cher or a third-party are subject to separate license terms, in which case those license terms will govern such software components.
  %br
  %p.has-text-weight-bold
    Modifications to our Services
  %br
  %p
    Cher reserves the right to modify, edit, suspend or terminate the Services (or any part thereof), either temporarily or permanently, at any time or from time to time, with or without prior notice to you.  Cher shall not be liable to you or any third-party for any modification or cessation of the Services.  Cher has no express or implied obligation to provide, or continue to provide, the Services, or any part thereof, now or in the future.  Cher reserves the right to modify or impose any limitations on the use of the Services at any time, with or without notice to you.
  %br
  %p.has-text-weight-bold
    Privacy
  %br
  %p
    Your use of Cher is subject to Cher's Privacy Policy.  Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices.
  %br
  %p.has-text-weight-bold
    Electronic Communications
  %br
  %p
    Visiting the Services or sending emails to Cher constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.
  %br
  %p.has-text-weight-bold
    Children
  %br
  %p
    Cher does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under eighteen (18), you may use the Services only with permission of a parent or guardian.
  %br
  %p.has-text-weight-bold
    Potential Data Loss
  %br
  %p
    The technology supporting the Services may include issues that could cause failures, corruption, or loss of data and/or information from your devices (including, without limitation, laptops, tablets, phones, computers, and servers) and peripherals connected thereto.  Cher strongly encourages you to back-up all data and information that you intend to use in or submit to the Services.
  %br
  %p
    YOU ASSUME ALL RISKS AND ALL COSTS ASSOCIATED WITH YOUR USE OF THE SERVICE INCLUDING, WITHOUT LIMITATION, ANY INTERNET ACCESS FEES, BACK-UP EXPENSES, COSTS INCURRED FOR THE USE OF THE DEVICE AND PERIPHERALS, AND ANY DAMAGE OR LOSS TO ANY EQUIPMENT, SOFTWARE, CONTENT, INFORMATION, OR DATA, WHETHER OR NOT SPECIFIED HEREIN.
  %br
  %p.has-text-weight-bold
    Links to Third-party Sites/Third-party Services
  %br
  %p
    The Services may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Cher and Cher is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site.  Cher is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Cher of the site or any association with its operators.
  %br
  %p
    Certain services made available via Cher are delivered by third-party sites and organizations.  By using any product, service or functionality originating from Cher, you hereby acknowledge and consent that Cher may share such information and data with any third-party with whom Cher has a contractual relationship to provide the requested product, service or functionality on behalf of Cher users and customers.
  %br
  %p
    When you access any third-party website, service, content or resources on the Internet, you do so at your own risk.  These other websites, services, content or resources are not owned or controlled by Cher, and you acknowledge that Cher is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such websites, services, content or resources.  The inclusion of any such link does not imply Cher’s endorsement or any association between Cher and the operators of the link.  You acknowledge and agree that Cher shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such website, service, content or resource.
  %br
  %p.has-text-weight-bold
    No Unlawful or Prohibited Use/Intellectual Property
  %br
  %p
    You are granted a non-exclusive, non-transferable, revocable license to access and use Cher strictly in accordance with these terms of use. As a condition of your use of the Site, you warrant to Cher that you will not use the Site for any purpose that is unlawful or prohibited by these Terms.  You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site.  You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.
  %br
  %p
    All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Cher or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights.  You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.
  %br
  %p
    You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Cher content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Cher and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Cher or our licensors except as expressly authorized by these Terms.
  %br
  %p.has-text-weight-bold
    Use of Communication Services
  %br
  %p
    The Site may contain bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, and/or other message or communication facilities designed to enable you to communicate with the public at large or with a group (collectively, "Communication Services").  You agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication Service.
  %br
  %p
    By way of example, and not as a limitation, you agree that when using a Communication Service, you will not: defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others; publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information; upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents; upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer; advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages; conduct or forward surveys, contests, pyramid schemes or chain letters; download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner; falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded; restrict or inhibit any other user from using and enjoying the Communication Services; violate any code of conduct or other guidelines which may be applicable for any particular Communication Service; harvest or otherwise collect information about others, including e-mail addresses, without their consent; violate any applicable laws or regulations.
  %br
  %p
    Cher has no obligation to monitor the Communication Services.  However, Cher reserves the right to review materials posted to a Communication Service and to remove any materials in its sole discretion.  Cher reserves the right to terminate your access to any or all of the Communication Services at any time without notice for any reason whatsoever.
  %br
  %p
    Cher reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Cher's sole discretion.
  %br
  %p
    Always use caution when giving out any personally identifying information about yourself or your children in any Communication Service.  Cher does not control or endorse the content, messages or information found in any Communication Service and, therefore, Cher specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Service. Managers and hosts are not authorized Cher spokespersons, and their views do not necessarily reflect those of Cher.
  %br
  %p
    Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. You are responsible for adhering to such limitations if you upload the materials.
  %br
  %p.has-text-weight-bold
    Materials Provided to Cher or Posted on Any Cher Web Page
  %br
  %p
    Cher does not claim ownership of the materials you provide to www.cher.realty or www.cher.app (including feedback and suggestions) or post, upload, input or submit to any Cher Site or our associated services (collectively "Submissions").  However, by posting, uploading, inputting, providing or submitting your Submission you are granting Cher, our affiliated companies and necessary sublicensees permission to use your Submission in connection with the operation of their Internet businesses including, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; and to publish your name in connection with your Submission.
  %br
  %p
    No compensation will be paid with respect to the use of your Submission, as provided herein.  Cher is under no obligation to post or use any Submission you may provide and may remove any Submission at any time in Cher's sole discretion.
  %br
  %p
    By posting, uploading, inputting, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions.
  %br
  %p.has-text-weight-bold
    Third-party Accounts
  %br
  %p
    You will be able to connect your Cher account to third-party accounts.  By connecting your Cher account to your third-party account, you acknowledge and agree that you are consenting to the continuous release of information about you to others (in accordance with your privacy settings on those third-party sites).  If you do not want information about you to be shared in this manner, do not use this feature.
  %br
  %p.has-text-weight-bold
    International Users
  %br
  %p
    The Service is controlled, operated and administered by Cher from our offices within the United States.  If you access the Services from a location outside the United States, you are responsible for compliance with all local laws.  You agree that you will not use the Cher Content accessed through Cher or the site in any country or in any manner prohibited by any applicable laws, restrictions or regulations.
  %br
  %p
    You may use our Services only in compliance with these Terms of Service and you are solely responsible for ensuring that these Terms of Service are in compliance with all laws, rules and regulations applicable to you and the right to access the Services is revoked where these Terms of Service or use of the Services is prohibited or to the extent offering, sale or provision of the Services conflicts with any applicable law, rule or regulation.  You represent and warrant that you are a legal resident of the United States.
  %br
  %p.has-text-weight-bold
    Indemnification
  %br
  %p
    To the fullest extent permitted by applicable law, you agree to indemnify, defend and hold harmless Cher, our affiliates, and each of our and their past, present and future respective employees, officers, directors, agents, contractors, suppliers, representatives, service providers, contractors, vendors, agents, representatives, predecessors, successors and assigns (individually and collectively, the “Cher Parties”), from and against all liabilities, claims, causes of action, demands, liabilities, losses, suits, disputes, damages, penalties, judgments, awards, obligations, interest, fees, costs and expenses, including reasonable attorneys’ fees, of every kind and nature whatsoever, whether known or unknown, foreseen or unforeseen, matured or unmatured, or suspected or unsuspected, in law or equity, whether in tort, contractor or otherwise (collectively, “Claims”), including, but not limited to, damages to property or personal injury, that are caused by, arise out of or are related to (a) any use or misuse of the Services, Content, by you or any third-party you authorize to access or use such Services, Content; (b) any User Content you create, post, share or store on or through the Services or our pages or feeds of third-party social media platforms; (c) any feedback you provide; (d) your violation of these Terms of Service; and (e) your violation of the rights of another.  You agree to promptly notify Cher of any third-party Claims, cooperate with Cher Parties in defending such Claims and pay all fees, costs and expenses associated with defending such Claims (including, but not limited to, attorneys’ fees and expenses, court costs, costs of settlement and costs of pursuing indemnification and insurance).  Cher reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses.
  %br
  %p.has-text-weight-bold
    Governing Law and Jurisdiction
  %br
  %p
    These Terms of Services shall be governed by and construed in accordance with the laws of the State of California, including its conflicts of law rules, and the United State of America.  You agree that any dispute arising from or relating to the subject matter of these Terms of Services shall be governed by the exclusive jurisdiction and venue of the state and Federal courts of Los Angeles, California.
  %br
  %p.has-text-weight-bold
    Arbitration and Class Action Waiver
  %br
  %p
    YOU AGREE THAT ALL DISPUTES BETWEEN YOU AND US (WHETHER OR NOT SUCH DISPUTE INVOLVES A THIRD-PARTY) WITH REGARD TO YOUR RELATIONSHIP WITH US, INCLUDING WITHOUT LIMITATION DISPUTES RELATED TO THESE TERMS OF SERVICE, YOUR USE OF THE SERVICES, AND/OR RIGHTS OF PRIVACY AND/OR PUBLICITY, WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION IN LOS ANGELES, CALIFORNIA UNDER THE AMERICAN ARBITRATION ASSOCIATION'S RULES FOR ARBITRATION OF CONSUMER-RELATED DISPUTES AND YOU AND WE HEREBY EXPRESSLY WAIVE TRIAL BY JURY.  DISCOVERY AND RIGHTS TO APPEAL IN ARBITRATION ARE GENERALLY MORE LIMITED THAN IN A LAWSUIT, AND OTHER RIGHTS THAT YOU AND WE WOULD HAVE IN COURT MAY NOT BE AVAILABLE IN ARBITRATION.  As an alternative, you may bring your claim in your local "small claims" court, if permitted by that small claims court's rules and if within such court's jurisdiction, unless such action is transferred, removed or appealed to a different court. You may bring claims only on your own behalf.  Neither you nor we will participate in a class action or class-wide arbitration for any claims covered by this agreement.  YOU ARE GIVING UP YOUR RIGHT TO PARTICIPATE AS A CLASS REPRESENTATIVE OR CLASS MEMBER ON ANY CLASS CLAIM YOU MAY HAVE AGAINST US INCLUDING ANY RIGHT TO CLASS ARBITRATION OR ANY CONSOLIDATION OF INDIVIDUAL ARBITRATIONS.  You also agree not to participate in claims brought in a private attorney general or representative capacity, or consolidated claims involving another person's account, if we are a party to the proceeding.  This dispute resolution provision will be governed by the Federal Arbitration Act and not by any state law concerning arbitration. In the event the American Arbitration Association is unwilling or unable to set a hearing date within one hundred and sixty (160) CALENDAR days of filing the case, then either we or you can elect to have the arbitration administered instead by JAMS.  Judgment on the award rendered by the arbitrator may be entered in any court having competent jurisdiction. Any provision of applicable law notwithstanding, the arbitrator will not have authority to award damages, remedies or awards that conflict with these Terms of Service.
  %br
  %p
    If the prohibition against class actions and other claims brought on behalf of third parties contained above is found to be unenforceable, then all of the preceding language in this section will be null and void.  This section will survive the termination of your relationship with us.
  %br
  %p.has-text-weight-bold
    Liability Disclaimer
  %br
  %p
    Cher has no special relationship with or fiduciary duty to you.  You acknowledge that Cher has no duty to take any action regarding: (i) which users gain access to the Services; (ii) what effect any of the Content has on you; (iii) what Content you access via the Services; or (iv) how you may interpret or use the Content.
  %br
  %p
    You release Cher from any and all liability for you having acquired or not acquired Content through the Services.  Cher makes no representations concerning any Content contained in or accessed through the Services, and Cher will not be responsible or liable for the accuracy, copyright compliance, or legality of material or Content contained in or accessed through the Services.
  %br
  %p
    THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. CHER INC. AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.
  %br
  %p
    CHER INC. AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. CHER INC. AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
  %br
  %p
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL CHER INC. AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF CHER INC. OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.
  %br
  %p
    CHER’S SERVICES AND ALL INCLUDED CONTENT ARE PROVIDED “AS IS,” “AS AVAILABLE” AND WITHOUT ANY WARRANTY OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY.  CHER SPECIFICALLY DISCLAIMS ANY WARRANTY OF ANY KIND, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. WE, AND OUR DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT THAT: (I) THE SERVICES WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (II) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (III) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICES IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; (IV) ANY INFORMATION CONTAINED ON, RESULTS THAT MAY BE OBTAINED FROM THE USE OF, OR OTHER ASPECT OF THE SERVICES WILL BE ACCURATE, CURRENT, COMPLETE OR RELIABLE; OR (V) THE RESULTS OF USING THE SERVICES WILL MEET YOUR REQUIREMENTS.  YOUR USE OF THE SERVICES IS SOLELY AT YOUR OWN RISK.  NO ADVICE OR INFORMATION PROVIDED TO YOU BY CHER WILL CREATE ANY WARRANTY THAT IS NOT EXPRESSLY STATED IN THESE TERMS OF SERVICE.  SOME JURISDICTIONS DO NOT PERMIT US TO EXCLUDE WARRANTIES IN THESE WAYS, SO IT IS POSSIBLE THAT THESE EXCLUSIONS WILL NOT APPLY TO OUR AGREEMENT WITH YOU.  IN SUCH EVENT THE EXCLUSIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW.
  %br
  %p.has-text-weight-bold
    Termination/Access Restriction
  %br
  %p
    Cher may terminate or suspend your access to all or any part of the Services at any time, with or without cause, with or without notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your Account.  Cher reserves the right to reduce or restrict access to our Services by any account that, in Cher’s sole discretion, has received too many complaints (e.g., copyright or trademark infringement complaints and/or violations, as provided by our Intellectual Property Policy).  This may include (i) restricting the ability by the Cher Account to post new content; (ii) modifying existing content by the Cher Account; and/or (iii) terminating the Cher Account.  If you wish to terminate your Account, you may do so by following the instructions through the Services.  Any fees paid hereunder are non-refundable.  All provisions of these Terms of Service which by their nature should survive termination shall survive termination, including without limitation, licenses of User Content, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
  %br
  %p
    Cher reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the State of California and you hereby consent to the exclusive jurisdiction and venue of courts in California in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.
  %br
  %p
    You agree that no joint venture, partnership, employment, or agency relationship exists between you and Cher as a result of this agreement or use of the Site. Cher's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Cher's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by Cher with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.
  %br
  %p
    Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Cher with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Cher with respect to the Site.  A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.
  %br
  %p.has-text-weight-bold
    Intellectual Property Policy
  %br
  %p
    Cher has adopted and implemented an Intellectual Property Policy in accordance with all applicable law, including the Digital Millennium Copyright Act.  For more information, please refer to the [Cher Intellectual Property Policy].
  %br
  %p.has-text-weight-bold
    Acceptable Use Policy
  %br
  %p
    Cher has adopted and implemented an Acceptable Use Policy in accordance with all applicable law.  For more information, please refer to the [Cher Acceptable Use Policy].
  %br
  %p.has-text-weight-bold
    Changes to Terms
  %br
  %p
    Cher reserves the right, in its sole discretion, to change the Terms under which www.cher.realty or www.cher.app is offered. The most current version of the Terms will supersede all previous versions. Cher encourages you to periodically review the Terms to stay informed of our updates.
  %br
  %p.has-text-weight-bold
    Feedback
  %br
  %p
    Cher values hearing from our users, and are always interested in learning about ways we can improve Cher.  If you choose to submit comments, ideas or feedback, you agree that Cher is free to use them without any restriction or compensation to you.  By accepting your submission, Cher does not waive any rights to use similar or related feedback previously known to Cher, or developed by our employees, or obtained from sources other than you.
  %br
  %p.has-text-weight-bold
    Miscellaneous
  %br
  %p
    Entire Agreement and Severability.  These Terms of Service are the entire agreement between you and us with respect to the Services, including use of the Services, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and us with respect to the Services.  If any provision of these Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that these Terms of Service will otherwise remain in full force and effect and enforceable.  The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
  %br
  %p
    Force Majeure.  Cher shall not be liable for any failure to perform our obligations hereunder where such failure results from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation.
  %br
  %p
    Assignment.  These Terms of Service are personal to you, and are not assignable, transferable or sublicensable by you except with our prior written consent. We may assign, transfer or delegate any of our rights and obligations hereunder without consent.
  %br
  %p
    Agency.  No agency, partnership, joint venture, or employment relationship is created as a result of these Terms of Service and neither party has any authority of any kind to bind the other in any respect.
  %br
  %p
    Notices.  Unless otherwise specified in these Term of Service, all notices under these Terms of Service will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service. Electronic notices should be sent to the email address listed below.
  %br
  %p
    No Waiver.  Our failure to enforce any part of these Terms of Service shall not constitute a waiver of our right to later enforce that or any other part of these Terms of Service. Waiver of compliance in any particular instance does not mean that we will waive compliance in the future. In order for any waiver of compliance with these Terms of Service to be binding, we must provide you with written notice of such waiver through one of our authorized representatives.
  %br
  %p
    Headings.  The section and paragraph headings in these Terms of Service are for convenience only and shall not affect their interpretation.
  %br
  %p.has-text-weight-bold
    Contact Us
  %p
    Cher welcomes your questions or comments regarding the Terms:
  %br
  %p
    Cher Inc.
  %p
    730 Arizona Avenue, Unit 205, Santa Monica CA 90401 or info@cher.app
  %br
  %p
    Effective as of January 28, 2019
