%h2.has-text-weight-bold.has-text-centered
  Cher Acceptable Use Policy
.has-text-justified
  %p
    This policy applies to all users of Cher, Inc. (“Cher”) website, products, software, and services (collectively “Services”).  This policy establishes specific requirements for accessing and using all of Cher’s Services.
  %br
  %p
    If an individual is found to be in violation of the Acceptable Use Policy, Cher may seek to suspend, deactivate, or terminate the account.  Cher may seek an adequate remedy for any violations, including bringing an action in an appropriate legal venue and/or reporting any actions to a suitable law enforcement entity.  Individuals are also subject to federal, state and local laws governing many interactions that occur on the Internet.  These policies and laws are subject to change as state and federal laws develop and change.
  %br
  %p
    The following activities are, in general, prohibited.  The list below is by no means exhaustive, but an attempt to provide a framework for activities which fall into the category of unacceptable use.  Users must report any incidents of possible misuse or violation of this Acceptable Use Policy.
  %br
  %p
    As a user of Cher’s Services, you must not:
  %br
  %ul.has-dot-style
    %li
      Use or display Cher’s name, logo, trademark, or branding without Cher’s consent.
    %li
      Disseminate or use any copyrighted material without permission.
    %li
      Attempt to gain unauthorized access to Cher, its systems, or its technical providers' systems, including any attempt to probe, scan or test the vulnerability of Cher’s systems or networks.
    %li
      Interfere with service to any user, host or network, including attempts to overload a system and any activity resulting in the crash of a host.
    %li
      Use any method to access, search, scrape, download, or change Cher’s Services.
    %li
      Post or send unsolicited, unapproved, or unrelated material to users who have not expressly agreed to receive the material.
    %li
      Forge any TCP/IP packet header or header information in any email or newsgroup posting, or in any way use Cher to send altered source-identifying information.
    %li
      Attempt any action that invades the privacy of other individuals or users, including collecting or storing any Cher user’s personal information, without the user’s permission.
    %li
      Impersonate or misrepresent your affiliation with any person or entity.
    %li
      Create or display advertisements that closely resemble or could reasonably be mistaken as a Cher Service.
    %li
      Attempt to reverse engineer any of Cher’s Services.
    %li
      Share your account(s), password(s), username(s) or similar information used for Cher’s Services.
    %li
      Directly compensate users for promotional or marketing efforts.
    %li
      Engage in any harassing, threatening, intimidating, predatory or stalking behavior.
    %li
      Use the Services for any illegal or unauthorized purpose, or engage in, encourage or promote any activity that violates Cher’s Terms of Service.
    %li
      Encourage or help anyone do any of the things on this list.
  %br
  %p
    Cher, at its sole discretion, will determine what materials, files, information, software, communications, and other content and/or activity will be permitted or prohibited.  Cher may revise the Acceptable Use Policy at any time by amending this page.
