.container
  .section.is-size-5
    = render 'user_policy'
  .section.is-size-5
    = render 'intelectual_property_policy'
  .section.is-size-5
    = render 'privacy_policy'
  .section.is-size-5
    = render 'terms_and_conditions'
