%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "fdfc0cf6-4faa-4cc2-8d7e-94c5fedc39ab", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:10px 0px 28px 8px; line-height:20px; text-align:inherit;", :valign => "top"}
        %div
          %div{:style => "font-family: inherit; text-align: inherit"}
            %span{:style => "margin-top: 0in; margin-right: 0in; margin-bottom: 8pt; margin-left: 0in; color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify; line-height: 15.6933px; font-size: 16px; font-family: arial, helvetica, sans-serif"}     
              ="Dear #{@user.full_name.blank? ? @user.email : @user.full_name},"
          %div{:style => "font-family: inherit; text-align: justify"}
            %br/
          %div{:style => "font-family: inherit; text-align: justify"}
            %span{:style => "margin-top: 0in; margin-right: 0in; margin-bottom: 8pt; margin-left: 0in; color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify; line-height: 15.6933px; font-size: 16px; font-family: arial, helvetica, sans-serif"} This is a confirmation email that your subscription to Cher Premium Agent has been canceled. We are sorry to see you go. We hope you will give us another chance to get it right.
          %div
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "1539422c-a241-475a-b7ed-bc03215041ac", "data-role" => "module-button", "data-type" => "button", :role => "module", :style => "table-layout:fixed;", :width => "100%"}
  %tbody
    %tr
      %td.outer-td{:align => "center", :bgcolor => "", :style => "padding:0px 0px 10px 0px;"}
        %table.wrapper-mobile{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align:center;"}
          %tbody
            %tr
              %td.inner-td{:align => "center", :bgcolor => "#ffe516", :style => "border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"}
                %a{:href => "https://calendly.com/joincher/agent", :style => "background-color:#FFE45C; border:1px solid #FFE45C; border-radius:6px; border-width:1px; color:#000000; display:inline-block; font-size:18px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;", :target => "_blank"} Talk to us!
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "2ff427ad-4bd0-439c-94de-f4c281f3c71f", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:20px; text-align:inherit;", :valign => "top"}
        %div
          %div{:style => "font-family: inherit; text-align: justify"}
            %span{:style => "margin-top: 0in; margin-right: 0in; margin-bottom: 8pt; margin-left: 0in; color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify; line-height: 15.6933px; font-size: 16px; font-family: arial, helvetica, sans-serif"} If you decided to stay after talking to us, we'll provide 50% off your next subscription! If you have any questions, contact us at 
            %a{:href => "", :title => "<span data-offset-key=\"7abqq-1-0\" style=\"box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 16px; vertical-align: baseline; border: 0px;\"><span data-text=\"true\" style=\"box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 16px; vertical-align: baseline; border: 0px;\">billing@cher.app</span></span>"}
              %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 16px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #1188e6; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; outline-color: initial; outline-style: none; outline-width: initial; text-decoration-line: none; transition-duration: 0.3s; transition-timing-function: ease; transition-delay: 0s; transition-property: color"} billing@cher.app
            %span{:style => "margin-top: 0in; margin-right: 0in; margin-bottom: 8pt; margin-left: 0in; color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify; line-height: 15.6933px; font-size: 16px; font-family: arial, helvetica, sans-serif"} or call at +1 (415) 941-0939.
            %span{:style => "font-size: 16px; font-family: arial, helvetica, sans-serif"}  
          %div{:style => "font-family: inherit; text-align: inherit"}
            %br/
          %div
%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "9d0a09a9-4101-4451-bb2f-6c42db52c85b", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 8px; line-height:22px; text-align:inherit;", :valign => "top"}
        %div
          %div{:style => "font-family: inherit; text-align: start"}
            %br/
          %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 16px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial"} Thank you,
          %div{:style => "font-family: inherit; text-align: start"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: bold; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 16px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial"} The Cher Clique Agent Team
          %div
          %div{:style => "font-family: inherit"}
            %br/
            %br/
          %div{:style => "font-family: inherit"}
            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; font-size: 16px"}
            cher@cher.app
            %br/
            (415) 862-2437
            %br/
            730 Arizona Avenue, Santa Monica, CA 90401
            %div
              %br/
%table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "8ab3756c-efea-490d-94fa-39dc86217f20", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tbody
    %tr
      %td{:align => "left", :style => "font-size:6px; line-height:10px; padding:0px 0px 0px 0px;", :valign => "top"} 
        %a{:href => "https://cher.app/professionals/"}
          %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "#{image_url('cherapp-ownership-coborrowing-mailer_logo_professionals.png')}", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:20% !important; width:20%; height:auto !important;", :width => "300"}/
