- title(t("meta.why_we_do_it.title"))
- meta_tag(:description, t("meta.know_more.description"))
#why-we-do-it.full-width-container.custom-page
  .page-hero.is-fully-centered
    .container.is-fully-centered
      %h1 Know more about CHER
  .container
    .columns.is-multiline
      .column.is-12
        %h2.has-red-border Why we do it?
        %p It is time for a change simply said and we want our users to experience it.
        %p Financial Freedom, Family Opportunities, Early Retirement, Financial stability, Home Value Appreciation, Mortgage interest deduction, Flexibility of renting, Affordability in homeowning without the compromise, ability to Improve our user’s credit, Tax benefits.
      .column.is-12
        %h3 Today’s Problems
        %p Seek legal counsel, Incur additional closing cost, Lack of flexible exits, Who to co-own homes with? How to sell and get out? Dealing with a surplus of unqualified real estate professionals
      .column.is-12
        %h3 Cher’s Solutions
        %p Match buyers to co-own homes. Daily app customized to user’s hobbies and interests. Find friends, access loan products, view MLS. Buyer credit and background verified. Custom contracts and vetted professionals. Tools making fractional exit’s easy. Discounted closing costs.
    .columns.is-multiline
      .column.is-12
        %h2.has-red-border Who we are?
        %p We are a team of industry leading professionals with over 25 years in the spaces of real estate, banking, financial technologies, and software development.
        %p
          Our Los Angeles based team is made up of seasoned real estate brokers, mortgage brokers, software engineers, and marketing specialists dedicated to help you achieve homeownership. Read our full story
          = link_to 'here.', '/investors'
    .columns.is-multiline
      .column.is-12
        %h2.has-red-border Partner with us
        %p
          We are aiming for the best partnerships, quality media exposure, strategic investors, and top new hires. Cher is built with a team of overachievers striving to change real estate forever. If you would like to reach out to our company, please contact
          = mail_to "cher@cher.app", 'cher@cher.app', body: "I want to partner wit you!"
