- title(t("meta.privacy.title"))
- meta_tag(:description, t("meta.privacy.description"))
#privacy.full-width-container.custom-page
  .page-hero.is-fully-centered
    .container.is-fully-centered
      %h1 Privacy Policy
  .container
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2 Effective Date: December 10, 2019
        %p Welcome to the Cher, Inc., (hereinafter “Cher,” “we” or “us”) website at http://www.cher.app (including all content under the “cher.app” domain name, and referred to herein as the “Website”). This notice (“Privacy Policy”) is included with and supplements our Website Terms of Service. The services that we may provide to you via the Website are referred to herein and in the Terms of Service document as the “Services.” This Privacy Policy explains our online information collection and use practices, and the choices you can make about the way we use such information.  It is important that you take the time to read and understand this Privacy Policy so that you can appreciate how we use your personal information. REMEMBER IF YOU USE OR ACCESS THE WEBSITE OR SERVICES, YOU AGREE TO THIS PRIVACY POLICY.  AS WE UPDATE THE WEBSITE OR EXPAND OUR SERVICES, WE MAY CHANGE THIS PRIVACY POLICY UPON NOTICE TO YOU, HOWEVER, PLEASE REVIEW IT FROM TIME TO TIME.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 1. Important Notices
        %p A. EU Privacy Rights. For users that are citizens of the European Union ("EU"), this Privacy Policy is subject to the provisions of the General Data Protection Regulation ("GDPR")and other applicable privacy laws. In such case, we are a data “Controller” and you are a “Data Subject” with certain protected privacy rights concerning your “Personal Data.” Your Personal Data may identify you as a person, and thus is often referred to as Personally Identifiable Information ("PII").
        %p B. California Privacy Rights. The California Consumer Privacy Act (“CCPA”) of 2018 enhances privacy rights and consumer protection for residents of California. Under the CCPA, California residents have the rights to: 1) know what Personal Data are being collected about them; 2) know whether their Personal Data are sold or disclosed, and to whom; 3) say 'no' to the sale of their Personal Data; 4) access their Personal Data; and 5) not be discriminated against for exercising their privacy rights under the CCPA. California law allows California residents to request information regarding our disclosures in the prior calendar year, if any, of their PII to third parties. To make such a request, please contact us at support@cher.app or 949-683-7472. Please include enough detail for us to locate your file; at a minimum, your name, email and username, if any. We will attempt to provide you with the requested information within thirty (30) days of receipt. We reserve our right not to respond to requests sent more than once in a calendar year, or requests submitted to an address other than the one posted in this notice. Please note that this law does not cover all information sharing. Our disclosure only includes information covered by the law.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 2. Who Collects Your Information On Our Website?
        %p We do. We collect information from you on the Website, and we are responsible for protection of your information.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 3. What Information Do We Collect?
        %p A. Requested Information. On various pages on the Website, we may request specific PII about you in order to register you for an account to use our Services, add you to our email list, facilitate your payments for Services, or fulfill your requests for information. You may choose not to provide your PII, but then you might not be able to take advantage of some of the features of our Website and Services. We only collect basic Personal Data about you that does not include any special types of information (e.g., health-related). The types of Personal Data we collect and save include:
        %ul.has-dot-style
          %li Contact and account registration information such as name, email address, physical address, phone number, business name, business URL, employer, job title, Social Security Number ("SSN");
          %li Financial information such as credit card number, name, CVV code, date of expiration, bank account information, credit rating, FICO score;
          %li Personality Results based on use of our Services;
          %li Information that you provide in using our Services, such as information about your references, their addresses, financial information, and similar content you may process through the Services;
          %li Information you provide such as feedback, comments or other messages;
          %li Technical information collected in our logs (e.g., your IP address, page URLs and timestamp, etc.); and
          %li Device information such as the mobile phone provider associated with the device you are using to access the Website or Services, your device’s unique identifier, the type of device and its operating system, the pages or features accessed most frequently, calls and messages placed through the Website or Services, how pages or features of the Services are used, search terms entered, and similar analytics about use of the Website or Services.
        %p B. Aggregate Information. We may also collect anonymous, non-identifying and aggregate information such as age, gender, race, religion, household income, the type of browser you are using, device type, the operating system you are using, and the domain name of your Internet service provider.
        %p C. Location Information. If you enable location services on your mobile device, we may collect the location of your mobile device, which we use to provide you with location-based information and advertising. If you wish to deactivate this feature, you can disable location services on your mobile device.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 4. Why Is My Information Being Collected?
        %p We need to collect your Personal Data so that we can provide the Services, respond to your requests for information and demonstrations, add you to our emailing lists, and process your requests for access to our Services. We also collect aggregate information to help us better design the Website. We collect log information for monitoring purposes to help us to diagnose problems with our servers, administer the Website, calculate usage levels, and otherwise provide services to you.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 5. How Do We Use the Information We Collect?
        %p A. We use the Personal Data you provide for the purposes for which you have submitted it including:
        %ul.has-dot-style
          %li
            %strong Responding To Your Inquiries and Fulfilling Your Requests.
            We may use your PII to respond to your inquiries and to fulfill your requests for information.
          %li
            %strong Creating and Maintaining Your User Account.
            We use your PII to create and maintain an account for you to allow you to purchase and use the Services we make available on the Website.
          %li
            %strong Communicating With You About Our Services.
            We may use your PII to send you information about new Services and other items that may be of interest to you. We may also contact you on behalf of our third party business partners about a particular offering of theirs that may be of interest to you.
          %li
            %strong Improving Our Services.
            We may use your information to make our platform more stable and user-friendly, to analyze Services issues, and to develop new marketing programs relating to the Services.
          %li
            %strong Sending Administrative Emails.
            We may use your PII to send you emails to: (a) confirm your account and your other PII, (b) process transactions that you make using our Services, (c) provide you with information regarding the Website, or (d) inform you of changes to this Privacy Policy, our Terms of Service, or our other policies.
        %p B. We may use anonymous information that we collect to improve the design and content of our Website, and to enable us to personalize your Internet experience.  We also may use this information in the aggregate to analyze how our Website is used, analyze industry trends, as well as to offer you programs or services.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 6. Do We Share Your Personal Data?
        %p A. In general, we will not share your Personal Data except: (a) for the purposes for which you provided it; (b) with your consent; (c) as may be required by law (e.g., in response to a court order or subpoena, or in response to a law enforcement agency request); (d) as we think necessary to protect our organization or others from injury (e.g., when we believe that someone is causing, or is about to cause, injury to or interference with the rights or property of another); or (e) on a confidential basis with persons or organizations with whom we contract to carry out internal site operations or as necessary to render the Services.
        %p.is-bold B. With your consent, we may share your Personal Data with our clients and business partners (e.g., real estate professionals), or sell your Personal Data to our clients and business partners. You understand that our sale of your Personal Data is a source of revenue for Cher that enables us to offer many of our Services to you free of charge. We will obtain such consent from you via your inputs as collected from you on our Website or otherwise via the Services. Under the CCPA, we may not sell your Personal Data if you click the “Do Not Sell My Personal Information” link on the page. If you so direct that we may not sell your Personal Data, however, we may not be able to offer you our full range of Services.
        %p C. We may refer you, and provide some of your Personal Data to real estate professionals at our discretion. Such real estate professionals may contact you as a user of our Services to solicit home sales or other real estate related work. You understand that we are not responsible or liable for the work performed or the services provided by third party real estate professionals. Also, please be aware that home sales and purchases may be a matter of public record; and your name and address, the price you paid, your property taxes and other information may be available from public websites regardless of the brokerage(s), if any, who assisted in a transaction.
        %p D. We may also share aggregate information with others, including affiliated and non-affiliated organizations.
        %p E. Finally, we may transfer your Personal Data to our successor-in-interest in the event of an acquisition, sale, merger or bankruptcy.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 7. Are There Other Ways My Personal Data Could Be Shared?
        %p You may elect to share certain Personal Data with individuals (e.g., other members) or with the public via your use of the Website. In this case, you will control such sharing via settings that we provide. For example, the Website may make it possible for you to publicly share information via social media such as Facebook or Twitter. Be aware that when you choose to share information with friends, real estate professionals, public officials, or with the public at large, you may be disclosing sensitive information, or information from which sensitive information can be inferred. Always use caution when sharing information through the Website. You understand and agree that we are not responsible for any consequences of your sharing of information through and beyond the Website.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 8. How Can You Access and Control Your Information?
        %p
          After registering for an account on the Website, you may log-in to the account and edit your Personal Data in your profile. For instructions on how you can further access your Personal Data that we have collected, or how to correct errors in such information, please send an e-mail to
          = mail_to "support@cher.app", 'support@cher.app', body: "Could you help me with..."
          or call us at
          = link_to "949-683-7472.", 'tel:949-683-7472'
          We will also promptly stop using your information and remove it from our servers and database at any time upon your request. To protect your privacy and security, we will take reasonable steps to help verify your identity before granting access, making corrections or removing your information. If you are an EU citizen and believe that we have misused your Personal Data, you have the right to contact the European Data Protection Supervisor (“EDPS”) to ask the EDPS for advice on how to exercise your rights or to ask the EDPS to investigate a complaint. For more information,  see EDPS Complaints.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 9. How Do We Store and Protect Your Information?
        %p A. After receiving your Personal Data, we will store it on our Website systems for future use. We have physical, electronic, and managerial procedures in place to safeguard and help prevent unauthorized access, maintain data security, and correctly use the information we collect. Unfortunately, no data transmission or data storage solution can ever be completely secure. As a result, although we take industry-standard steps to protect your information (e.g., strong encryption), we cannot ensure or warrant the security of any information you transmit to or receive from us or that we store on our or our service providers' systems.
        %p B. If you are visiting the Website from outside of the USA, you understand that your connection will be through and to servers located in the USA, and the information you provide will be securely stored in our web servers and internal systems located within the USA. By accessing or using the Services or otherwise providing information to us, you consent to the processing, transfer, and storage of information in and to the USA, where you may not have the same rights and protections as you do under local law.
        %p C. We store Personal Data for as long as reasonably required for its purpose or for any additional period required by law (if any). Account information is deleted when you or when we delete your account. We may store information longer for legitimate business reasons (for example, Personal Data may remain in backups for a reasonable period of time), or as legally required. Otherwise, we store your Personal Data until you request us to remove it from our servers. We store our logs and other technical records indefinitely.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 10. How Do We Use Cookies And Other Network Technologies?
        %p A. Cookies. To enhance your online experience with us, our web pages may presently or in the future use "cookies."  Cookies are text files that our web server may place on your hard disk to store your preferences.  We may use session, persistent, first-party and third-party cookies. Cookies, by themselves, do not tell us your e-mail address or other PII unless you choose to provide this information to us.  Once you choose to provide PII, however, this information may be linked to the data stored in a cookie. You can set your browser to notify you when you receive a cookie, providing you with as much control as you wish as to the decision to accept/reject the cookie, and deletion of the cookie upon leaving our Website. Please note, however, that if your browser does not accept cookies, you may not be able to take advantage of all of the features of our Website.
        %p B. GIFs. We or our service providers may also use "pixel tags," "web beacons," "clear GIFs," “embedded links” and other commonly-used information-gathering tools in connection with some Website pages and HTML-formatted email messages. We use these tools for such purposes as compiling aggregate statistics about Website usage and response rates. A pixel tag is an electronic image (often a single pixel), that is ordinarily not visible to website visitors, and may be associated with cookies on visitors’ hard drives. Pixel tags allow us and our service providers to count users who have visited certain pages of the Website, to deliver customized services, and to help determine the effectiveness of our Website and Services. When used in HTML-formatted email messages, pixel tags can inform the sender of the email whether and when the email has been opened.
        %p C. Clickstreams. As you use the Internet, you leave a trail of electronic information at each website you visit. This information, which is sometimes referred to as "clickstream data”, can be collected and stored by a website's server.  Clickstream data can reveal the type of computer and browsing software you use and the address of the website from which you linked to the Website.  We may use clickstream data as a form of non-PII to determine how much time visitors spend on each page of our Website, how visitors navigate through the Website, and how we may tailor our web pages to better meet the needs of visitors. We will only use this information to improve our Website.
        %p D. Do Not Track. Many modern web browsers give you the option to send a “Do Not Track” signal to the websites you visit, indicating that you do not wish to be tracked. At this time, the Website and Services do not specifically respond to “Do Not Track” signals.
        %p E. Advertising. Note that we may use cookies and other technologies for purposes of on-line advertising. This means that when you use the Services, we or third party ad servers, ad network providers or advertisers (collectively “Ad Providers”) may use cookies that they collect or that we provide to them. Such Ad Providers may collect information about your use of the Services (including mobile applications) or your online activities over time and across different websites and devices. Collected information may include the content you viewed, the date and time that you viewed this content, and the website that referred you to the Services. This information may be associated with your unique browser, device identifier or IP address. Ad Providers may provide you with advertisements that you may see on the Services or on affiliated websites. To improve the relevancy and help measure the effectiveness of such advertisements, the Ad Providers may use cookies, web beacons, clear GIFs or similar technologies. These practices help tailor advertisements that are relevant and of use to you. You may control or opt- out of such advertising by changing the cookie settings in your browser as described above.
        %p F. User Behavior Tracking. We may track the webpages and links our users visit within our Website, in order to determine what Services are most popular. We may use such tracking data to deliver customized content and advertising to users whose behavior indicates they are interested in a particular subject area. We may also collect user data to enable “heat mapping” capabilities that track the areas of a webpage where users most frequently move the mouse or click. These tracking activities make it possible to monitor and analyze web traffic and evaluate user behavior to customize our Services.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 11. Collection of Information by Others
        %p We may provide links to certain third party websites that you may click-on from our Website. Please check the privacy policies of these other websites to learn how they collect, use, store and share information that you may submit to them or that they collect.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 12. Children and Young People’s Information
        %p
          We do not knowingly collect any information from any minors, and we comply with all applicable privacy laws including the GDPR, USA Children's Online Privacy Protection Act (“COPPA”) and associated Federal Trade Commission (“FTC”) rules for collecting Personal Data from minors. Please see the FTC's website (www.ftc.gov) for more information. Our Website will not knowingly accept Personal Data from anyone under 18 years old in violation of applicable laws, without consent of a parent or guardian.  In the event that we discover that a person under the age of 18 has provided PII to us without parental consent, we will make efforts to delete the person’s information in accordance with the COPPA. If you have concerns about this Website or its Services, wish to find out if your child has accessed our Services, or wish to remove your child's Personal Data from our servers, please contact us at
          = mail_to "support@cher.app", 'support@cher.app', body: "Could you help me with..."
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border 13. Changes to this Policy
        %p
          If you have any questions or concerns about this Privacy Policy, please contact us via e-mail at
          = mail_to "support@cher.app", 'support@cher.app', body: "Could you help me with..."
        %p Copyright © Cher, Inc. All rights reserved. The Website is protected by United States and international copyright, trademark, and other applicable laws. This includes the content, appearance, and design of the Website, as well as the trademarks, product names, graphics, logos, service names, slogans, colors, and designs.
