- title(t("meta.terms.title"))
- meta_tag(:description, t("meta.terms.description"))
#terms.full-width-container.custom-page
  .page-hero.is-fully-centered
    .container.is-fully-centered
      %h1 Cher Intellectual Property Policy
  .container
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Copyright
        %p Cher, Inc. has adopted the general policy toward copyright infringement in accordance with the Digital Millennium Copyright Act of 1998 (“DMCA”).
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Submitting a Copyright Complaint
        %p If you believe that material or content residing on or accessible through Cher’s websites or services infringes a copyright, please send a notice of copyright infringement to Cher’s designated agent (“Copyright Agent”). The address of the Copyright Agent is listed below.
        %p You should note that if you knowingly make any material misrepresentation in your notification that the material or activity is infringing, you will be liable for any damages, including, without limitation, costs and attorneys’ fees, incurred by us or the alleged infringer as the result of our relying upon such misrepresentation in removing or disabling access to the material or activity claimed to be infringing.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Content of the DMCA Notice
        %p The DMCA should include the following information:
        %ul.has-dot-style
          %li Identification of the copyrighted work or material claimed to be infringed.
          %li Identification of the work or material that is claimed to be infringed. The identification should include reasonably sufficient detail to permit Cher to find and verify its existence. Identification should include the URL of the link where the claimed infringed material is located.
          %li The address, telephone number, and if available, email address, of the notifier.
          %li A statement that you have a good faith belief that the use of the material in the manner asserted is not authorized by the copyright owner, its agent, or the law.
          %li A statement that the information in the notification is accurate, and, under the penalty of perjury, that you are authorized to act on behalf of the copyright owner.
          %li A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Action taken by Cher in response to a DMCA Notice
        %p Upon receipt of the DMCA Notice, Cher will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged material from the Site.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Submitting a Counter-Notice
        %p If the content provider, member or user (collectively “content provider”) receives a notification that any particular content has been removed or to which access was disabled due to a DMCA Notice and the content provider believes that the material is either not infringing or the content provider has the right to post and use such material from the copyright owner, the copyright owner’s agent, or pursuant to the law, the content provider must send a counter-notice containing the following information to the Copyright Agent listed below:
        %ul.has-dotted-style
          %li Identification of the material that has been removed or to which access has been disabled.
          %li The location at which the material appeared before it was removed or disabled, including the source address of the content.
          %li A statement that the content provider has a good faith belief that the material was removed or disabled in error.
          %li The address, telephone number, and if available, email address, of the content provider.
          %li A statement that the content provider consents to the jurisdiction of Federal District Court for the judicial district in which the content provider’s address is located, or if the content provider’s address is located outside the United States, for any judicial district in which Cher is located, and that content provider will accept service of process  from the person who provided the original notification or an agent of such person.
          %li A physical or electronic signature of the content provider.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Action taken by Cher in response to a DMCA Notice
        %p When Cher receives a valid counter-notice, Cher will forward a copy to the entity who filed the original complaint. If Cher does not receive notice within ten (10) business days that the submitter of the original complaint is seeking a court order to prevent further infringement of the content at issue, Cher will remove the complaint from your account&#39;s record, and Cher may replace the content that was removed.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Copyright Agent Delivery Address
        %p 730 Arizona Avenue, Suite 205, Santa Monica, CA 90401
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Trademark - Submitting a Trademark Complaint
        %p If you are concerned that someone may be using your trademark in an infringing way on our site, you can notify Cher by providing the information below in an email to Cher at:
        %p In order to investigate trademark policy violations, please provide the following information:
        %ul.has-dot-style
          %li Full name or company name.
          %li Trademarked work, symbol, etc.
          %li Trademark registration number
          %li Trademark Registration Office
      %p If the trademark violation you are reporting is not a registered mark, please provide the following information:
      %ul.has-dot-style
        %li Full name, address, phone number, and if available, email address.
        %li Description of confusion.
        %li Requested Action.
      %p Cher may send a Trademark Complaint notification to the alleged infringer and provide any relevant information from your notice of alleged Trademark Complaint.
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Contesting a Trademark Complaint
        %p If you receive a Trademark Complaint notification from Cher, you may contest it by submitting a statement to Cher at 730 Arizona Avenue, Suite 205, Santa Monica, CA 90401 letting Cher know why you think the complaint is invalid (please include any reference information included in the Trademark Complaint notification).
        %p Cher will review your submission and take whatever action, in its sole discretion, it deems appropriate, including temporary or permanent removal of the identified materials from the Cher site.
        %p This Agreement was last revised on December 10, 2019.
        %p Copyright © 2018-2019 Cher, Inc. All Rights Reserved. Cher’s logo and other marks, colors, and images are registered and common law trademarks ofCher, Inc. Other trademarks and brands are the property of their respective owners.
