- title(t("meta.know_more.title"))
- meta_tag(:description, t("meta.know_more.description"))
#who-we-are.full-width-container.custom-page
  .page-hero.is-fully-centered
    .container.is-fully-centered
      .columns.is-multiline
        .column.is-12.has-text-centered
          %h1 Our mission is for you to own any place and call it your home
  .container.m-b-xl
    .columns.is-multiline.is-marginless
      .column.is-12
        %h2.has-red-border Who we are
        %p Many different brains joined forces in order to tackle the enormous problems that Cher set out to fix in the real estate industry.
        %p Our team based in Los Angeles (we love tacos!) is highly orchestrated. Mix of real estate brokers, mortgage brokers, software engineers and marketing specialists dedicated to help you achieve homeownership.
        %p
          With
          %strong over 40 years in the industry
          , our curated team provides our family of users with:
    .columns.features-section.is-marginless
      .column.feature-item
        = image_tag 'cherapp-ownership-coborrowing-ico-software.svg', class: 'feature-image', alt: t('img_alts.magnifying_glass_with_code')
        .feature-title.m-t-lg
          Software development
        %p
          Streamlining the home search process online
      .column.feature-item
        = image_tag 'cherapp-ownership-coborrowing-ico-realstate.svg', class: 'feature-image', alt: t('img_alts.house with trees')
        .feature-title.m-t-lg
          Real estate brokers
        %p Helping you leverage the best deals
      .column.feature-item
        = image_tag 'cherapp-ownership-coborrowing-ico-trending.svg', class: 'feature-image', alt: t('img_alts.chart_over_a_hang')
        .feature-title.m-t-lg
          Marketing specialists
        %p Keeping you up to date on latest market trends
      .column.feature-item
        = image_tag 'cherapp-ownership-coborrowing-ico-innovation.svg', class: 'feature-image', alt: t('img_alts.innovation')
        .feature-title.m-t-lg
          Financial tech specialists
        %p Making sure you have access to all the latest innovations.
