.container
  .columns.is-marginless.is-centered
    .column.is-8-desktop.is-6-fullhd.is-10-tablet.is-12-mobile
      .box.m-t-md
        %h2= t('payment.payment_information')
        %p.m-t-md.is-bold= t('payment.transaction_id', id: @payment['id'])
        %p.is-bold= t('payment.amount_paid', amount: payment_amount(@payment['amount']))
