!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }
  %body
    %h2
      A professional's ID needs to be verified
    %p
      = "#{@professional_email} just added it's ID. Access to Cher to validate it."
