%section.section.is-divider-blue
  .container
    .columns.is-marginless
      .column.is-12-mobile.is-12-tablet
        %h3.is-size-3.has-text-centered
          = "One platform to save you time"
        .is-flex.is-fully-centered
          .is-hidden-mobile
            = image_tag('cherapp-ownership-coborrowing-platform-group.svg', alt: 'Platform group')
          .is-hidden-tablet
            = image_tag('cherapp-ownership-coborrowing-platform-group-vertical.svg', alt: 'Platform group')
