%center.wrapper{"data-body-style" => "font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#FFFFFF;", "data-link-color" => "#1188E6"}
  .webkit
    %table.wrapper{:bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:bgcolor => "#FFFFFF", :valign => "top", :width => "100%"}
          %table.outer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "content-container", :width => "100%"}
            %tr
              %td{:width => "100%"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:100%; max-width:600px;", :width => "100%"}
                        %tr
                          %td{:align => "left", :bgcolor => "#FFFFFF", :role => "modules-container", :style => "padding:0px 0px 0px 0px; color:#000000; text-align:left;", :width => "100%"}
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "a72f1a11-19b8-40df-9f02-d30ad281a8d0.1", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "b12bafa0-2304-432d-b025-f921909d1cda", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:45px; text-align:inherit;", :valign => "top"}
                                    %div
                                      %div{:style => "font-family: inherit; text-align: inherit"}
                                        %span{:style => "color: #222326; font-family: spotify-circular, Helvetica, Arial, sans-serif; font-size: 48px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 900; letter-spacing: -0.72px; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline"}= "Hi #{@user.first_name || "there"},"
                                      %div
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "b7909d6b-5c4d-4a1b-b22f-aa76f9966518", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "0a306032-1786-4c3f-bd53-cc6334cbc968", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;", :valign => "top"}
                                    %div
                                      %div{:style => "font-family: inherit; text-align: inherit"} I'm circling back on my previous email from a few days ago. I really want 5 minutes of your time just to give you an overview of Cher and get your feedback. 
                                      %div{:style => "font-family: inherit; text-align: inherit"} Do you have 5 minutes this week or next? Thanks! 
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "a72f1a11-19b8-40df-9f02-d30ad281a8d0", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "746d2812-9a15-4573-ba06-0f0828f3b8b0", "data-role" => "module-button", "data-type" => "button", :role => "module", :style => "table-layout:fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td.outer-td{:align => "center", :bgcolor => "", :style => "padding:0px 0px 0px 0px;"}
                                    %table.wrapper-mobile{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align:center;"}
                                      %tbody
                                        %tr
                                          %td.inner-td{:align => "center", :bgcolor => "#ffd816", :style => "border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"}
                                            %a{:href => "https://calendly.com/joincher/free-one-on-one-with-cher?month=2020-11", :style => "background-color:#ffd816; border:1px solid #ffffff; border-color:#ffffff; border-radius:6px; border-width:1px; color:#000000; display:inline-block; font-size:14px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;", :target => "_blank"} Accept Invitation
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "a72f1a11-19b8-40df-9f02-d30ad281a8d0.2", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "746d2812-9a15-4573-ba06-0f0828f3b8b0.1", "data-role" => "module-button", "data-type" => "button", :role => "module", :style => "table-layout:fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td.outer-td{:align => "center", :bgcolor => "", :style => "padding:0px 0px 0px 0px;"}
                                    %table.wrapper-mobile{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align:center;"}
                                      %tbody
                                        %tr
                                          %td.inner-td{:align => "center", :bgcolor => "#ffffff", :style => "border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"}
                                            %a{:href => "https://cher.app/users/sign_in?utm_source=userfeedbackemail", :style => "background-color:#ffffff; border:1px solid #fae329; border-color:#fae329; border-radius:6px; border-width:1px; color:#000000; display:inline-block; font-size:14px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;", :target => "_blank"} Learn More
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "cc25cbce-f0b2-4104-9793-6db48cca4bbf", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                            %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "9d0a09a9-4101-4451-bb2f-6c42db52c85b", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;", :valign => "top"}
                                    %div
                                      %div{:style => "font-family: inherit; text-align: start"}
                                        %br/
                                      %div{:style => "font-family: inherit; text-align: inherit"}
                                        Your feedback would really be invaluable!
                                        %br/
                                        Best,
                                        %br/
                                        %br/
                                        Suzy Song
                                      %div{:style => "font-family: inherit; text-align: inherit"}
                                        %br/
                                      %div{:style => "font-family: inherit; text-align: inherit"}
                                        %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: bold; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 16px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial"} The Cher® Team
                                      %div{:style => "font-family: inherit; text-align: start"}
                                        %br/
                                      %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
                                        %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline"} cher@cher.app
                                      %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
                                        %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline"} (415) 862-2437
                                      %div{:style => "font-family: inherit; text-align: inherit; margin-left: 0px"}
                                        %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-size: 14px; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; color: #000000; letter-spacing: 0.2px; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline"} 730 Arizona Avenue, Santa Monica, CA 90401
                                      %div
                            %table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "c2365fef-24b3-416f-9130-da8b2cb263ef", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                              %tbody
                                %tr
                                  %td{:align => "left", :style => "font-size:6px; line-height:10px; padding:0px 0px 13px 0px;", :valign => "top"}
                                    %a{:href => "http://www.cher.app"}
                                      %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "http://cdn.mcauto-images-production.sendgrid.net/e1e4535fea1bb147/7236dd4a-1fbf-40b4-b646-084c46a03797/2048x2048.png", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:15% !important; width:15%; height:auto !important;", :width => "90"}/
