%input{ type: 'hidden', value: 'conversations page', id: 'currentPageInput' }
- title(t("meta.conversations.title"))
.is-gradient-blue{ 'data-controller': 'viewheight' }
  .container
    .columns.is-marginless
      = render 'user_card'
      .column.is-8-tablet.is-9-widescreen.is-12-mobile.is-paddingless-mobile
        .box.is-borderless.is-paddingless
          = react_component('chat/EditChatGroup', channelSid: @channel_sid, userEmail: current_user.email, userPermissions: @member_permissions, userEmail: current_user.email)
