%section.green-filter
  .container.section
    .columns.is-marginless.is-multiline
      .column.is-paddingless.is-12-tablet.is-4-desktop.m-t-xl.is-marginless-tablet.is-3-widescreen
        %h3.is-size-3.has-text-primary.m-b-lg.has-text-centered-tablet.has-text-left-desktop.is-family-primary
          Need a competitive edge?
      .column.is-paddingless.is-12-tablet.is-8-desktop.double-cards-container.is-offset-1-widescreen
        .card
          .card-header.is-blue
            %h3.is-size-3.card-title.is-marginless.is-family-secondary
              %span.has-text-weight-normal
                Clique
              %span
                Lite
          .card-content.has-small-pading
            .is-fully-centered
              = image_tag('cherapp-ownership-coborrowing-calendar.svg', alt: '', class: 'm-r-sm')
              %span.is-bold.m-l-sm.is-size-5
                Monthly Plan
            %hr
            %ul.has-ticks.has-space-between-items
              %li
                %span
                  In app escrow process
                %span.is-bold
                  saving time
              %li
                %span.is-bold
                  Track
                %span
                  your clients co-owning progress
              %li
                %span.is-bold
                  Grow
                %span
                  your real estate network
              %li
                %span
                  Tools to
                %span.is-bold.is-bold
                  close more deals
            .has-text-centered
              %h3.is-size-2.is-bold.is-family-secondary
                Free
              = link_to 'Schedule Demo', 'https://calendly.com/joincher/agent?month=2021-04', rel: 'noopenner', target: '_blank', class:'button is-lemon has-pading-small m-t-md', 'data-target': 'mixpanel.link', 'data-link-message': 'Clicked Calendly link'
        .card
          .card-header.is-yellow
            %h3.is-size-3.is-marginless.is-family-secondary
              %span.has-text-weight-normal
                Clique
              %span
                Premium
          .card-content.has-small-pading
            .is-fully-centered
              = image_tag('cherapp-ownership-coborrowing-calendar.svg', alt: '', class: 'm-r-sm')
              %span.is-bold.m-l-sm.is-size-5
                Monthly Plan
            %hr
            %ul.has-stars.has-space-between-items
              %li
                %span.is-bold
                  5 Message credits
                %span
                  to target prospects
              %li
                %span
                  Marketed as
                %span.is-bold
                  preferred agent
                %span
                  to buyers
              %li
                %span.is-bold
                  Quality leads
                %span
                  sent to your inbox
              %li
                %span.is-bold
                  Chat live in app
                %span
                  with new buyers
              %li
                %span.is-bold
                  Dedicated
                %span
                  Success Manager
            .has-text-centered.m-t-md
              %h3.is-size-2.is-bold.is-family-secondary
                $199
              = link_to 'Schedule Demo', 'https://calendly.com/joincher/agent?month=2021-04', rel: 'noopenner', target: '_blank', class:'button is-lemon has-pading-small m-t-md', 'data-target': 'mixpanel.link', 'data-link-message': 'Clicked Calendly link'
