.card {
  border-radius: 8px;
  overflow: hidden;

  &.is-secondary {
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .05);

    .card-header {
      background-color: $grey-blue;
      box-shadow: none;
      padding: 1rem 3rem;

      p {
        line-height: 1;
        margin: 0;
      }
    }

    .card-content {
      padding: 1.5rem;
    }

    @media screen and (max-width: 768px) {
      .media-content {
        overflow-x: inherit;
      }
    }
  }

  &.is-borderless {
    border: 0;
    border-radius: 0;
    box-shadow: $darker-shadow;
  }

  .card-image {
    img {
      border-radius: 8px 8px 0 0;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .card-header {
    padding: .5rem;

    &.is-blue {
      background-color: $primary;
      color: $mint;
      display: block;
      text-align: center;
    }

    &.is-yellow {
      background-color: $yellow-lemon;
      color: $primary;
      display: block;
      text-align: center;
    }
  }

  .card-content {
    &.has-small-pading {
      padding: 1.5rem;
    }
  }
}
