.is-loading:not(.control):not(.button) {
  background: $black;
  opacity: .5;
  pointer-events: none;
  position: relative;

  &::after {
    @include loader;
    border-width: .25em;
    height: 5em;
    left: calc(50% - 2.5em);
    position: absolute;
    top: calc(50% - 2.5em);
    width: 5em;
  }
}
