.is-checkradio[type="checkbox"] {
  // Safari fix
  max-width: 100px;
}

.is-checkradio {
  width: auto;
}

.is-checkbutton[type="radio"] {
  display: none;

  &:checked + label {
    background-color: $hue;
    color: $white;
  }

  + label {
    border: 2px solid $hue;
    border-radius: 20px;
    border-width: 3px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    width: 100%;
  }
}

.radio-button.is-secondary {
  .is-checkradio[type="radio"].is-group {

    &:checked + label {
      background: transparent;
      color: $primary;
    }

    + label {
      border: 1px solid $helper-blue;
      border-radius: 0;
      border-right: 0;
      color: $helper-blue;
      font-weight: normal;
      margin: 0;
      padding: 10px 12.5px;
      text-align: center;
      transition: .2s;
      width: 100%;

      &:hover {
        background: transparent;
        color: $primary;
        transition: .2s;
      }

      &:first-of-type {
        border-radius: 3px 0 0 3px;
      }

      &:last-of-type {
        border-radius: 0 3px 3px 0;
        border-right: 1px solid $helper-blue;
      }

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.is-checkradio[type="radio"].is-group {
  display: none;

  &:checked + label {
    background: $primary;
    color: $white;
  }

  + label {
    border: 1px solid $helper-blue;
    border-radius: 0;
    border-right: 0;
    color: $primary;
    font-weight: normal;
    margin: 0;
    padding: $regular-padding;
    text-align: center;
    transition: .2s;
    width: 100%;

    &:hover {
      background: $primary;
      color: $white;
      transition: .2s;
    }

    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
      border-right: 1px solid $helper-blue;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}

.left-label {
  color: $primary;
  float: left;
  font-size: 10px;
}

.right-label {
  color: $primary;
  float: right;
  font-size: 10px;
}

// Customize the label (the container)
.checkbox-container {
  cursor: pointer;
  display: block;
  font-size: 22px;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;
  user-select: none;

  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  // When the checkbox is checked, add a blue background
  input:checked ~ .checkmark {
    background-color: $white;
  }

  // Show the checkmark when checked
  input:checked ~ .checkmark::after {
    display: block;
  }

  // Style the checkmark/indicator
  .checkmark::after {
    border: 1px solid $primary;
    border-width: 0 1px 1px 0;
    height: 10px;
    left: 9px;
    top: 5px;
    transform: rotate(45deg);
    width: 6px;
  }
}

// Create a custom checkbox
.checkmark {
  background-color: $white;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

// On mouse-over, add a grey background color
.checkbox-container:hover input ~ .checkmark {
  background-color: $white;
}

// Create the checkmark/indicator (hidden when not checked)
.checkmark::after {
  content: '';
  display: none;
  position: absolute;
}
