.section-tittle
  %p.has-text-weight-bold.has-text-left
    Are the users on Cher vetted?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Cher strives itself on creating a safe and secure marketplace. We screen all users with third party Experian credit checks to ensure matched co-owners can afford the homes they shop for. We also verify identities through Cher Verify. This process compares facial recognition and government issued licenses.
