.section-tittle
  %p.has-text-weight-bold.has-text-left
    What if co-owners have different objectives and priorities?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Users answer a variety of questions in their personal including objectives in their personal profile. As with any social platform, it is up to the users to decide if they should live together and co-own. For a fee, Cher can process the collection of different forms of payments from co-owners to pay utilities, lender, and other related costs.
