.section-tittle
  %p.has-text-weight-bold.has-text-left
    What happens when a co-owner can not pay their part of the mortgage?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Cher has partnered with insurance providers that will step in and pay missing mortgage payments in the case of disability. It is a type of worker's compensation tailored for mortgage payments. To qualify, all co-owners need to sign up either before or after the escrow process.
