.section-tittle
  %p.has-text-weight-bold.has-text-left
    What happens when a co-owner refuses to pay their part of the mortgage?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Cher's unique contracts specify your exit solutions within a 90 day period. If an exit is not done within this timeline, all co-owners agree to sell the home.
