.section-tittle
  %p.has-text-weight-bold.has-text-left
    What are some current problems with co-owning homes today?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Seeking legal help to create unique contracts. Incur added closing costs by inexperienced real estate professionals. The lack of flexible exits, and how to sell your ownership rights fast and who to co-own homes even with.
