.section-tittle
  %p.has-text-weight-bold.has-text-left
    What is the difference between Tenants In Common and Joint Tenants?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Tenants In Common can choose to own property with others as Tenants in Common. Each have property owners that can buy, transfer, mortgage, or assign their interests. This means that the owner has the right to do whatever they prefer to the property, but to their interest only. This agreement is great for friends because each decides who inherits their ownership.
    %br
    %p
      Joint Tenants have the right of survivorship and used by married couples. This means the property has no divided interest and both parties own 100% of the property. The right of survivorship clause allows the property to pass to the other party outside of the will.
