.section-tittle
  %p.has-text-weight-bold.has-text-left
    What is the difference between a co-owner and cosigner?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      That is the key difference between a co-owner and a co-signer. If your loan is to buy a house, then the co-owner has an ownership interest in that house2. If the loan is to buy a car, then the co-owner has an ownership interest in the car. Co-owners are usually partners or spouses.
