.section-tittle
  %p.has-text-weight-bold.has-text-left
    What are examples of Co-Ownership?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Any combination of individuals can enter into a co-ownership arrangement. The most common options include the following. A new college graduates with their parents or step-parents. Co-owning a mortgage with their fiancé or spouse. A group of childhood friends or college classmates purchasing a home together. Two or more colleagues or individuals. Two or more families buying a shared home. Two or more Cher users with similar housing needs. With multiple signatures, the chances of a home loan being granted are usually high, even with low credit scores.
