.section-tittle
  %p.has-text-weight-bold.has-text-left
    How does the paperwork get handled?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Real estate professionals will communicate deadlines through our platform. Some Realtors and other professionals prefer to send contracts through Cher's team hub. We designed Cher to provide a more collaborative escrow process. Cher requires the real estate team you and your co-owners select to update escrow deadlines through Cher.
