.section-tittle
  %p.has-text-weight-bold.has-text-left
    How does Cher make money?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Cher charges a fee to the real estate agents at the close of escrow. It is free to use for all professionals and co-owners.
