.section-tittle
  %p.has-text-weight-bold.has-text-left
    Do you manage the relationship between owners?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      In short, no. We do not handle disputes between co-owners. Cher's contracts frame everyone's mindset as a co-owner and the steps they follow to exit or sell. We provide the platform for vetted and pre-qualified users to find one another, build a relationship, and buy homes together. We provide a variety of tools for this relationship to be successful, but the decision to buy a home is by each user.
