.section-tittle
  %p.has-text-weight-bold.has-text-left
    Do you manage the exits or sale when a co-owner wants to leave?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Cher provides tools to more easily exit, rent, buyout, or transfer ownership rights to receive equity effectively. Cher assists in contacting real estate professionals to process your request and provide discounted services.
