.section-tittle
  %p.has-text-weight-bold.has-text-left
    Are the real estate professionals listed on Cher and advertised on Cher's Clique licensed under Cher’s brokerage?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      Many of these professionals are only licensed to use our software and are not agents of Cher. We vet each applying real estate agent regardless of what brokerage they currently work for. Our future plans will be to capture this revenue as we scale and operate as a turnkey real estate development platform.
    %br
    %p
      Why does Cher provide matches? Options. Cher believes people should have an opportunity to co-own with people outside of their family or close friends. Why waste your time and hard earned money renting with someone to learn if co-owning is a good decision. We know that process can end up being several years, and by that time co-owning may not be the best choice someone.
