.section-tittle
  %p.has-text-weight-bold.has-text-left
    Who finds the home?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      All co-owners buy a home they agree to. Realtors on Cher will help users through this home buying process. During the matching and pairing process, users have access to properties on the multiple listing service. With the help of Cher's real estate professionals, users can find their dream home.
