.section-tittle
  %p.has-text-weight-bold.has-text-left
    Why co-own a home?
  %span.field-icon
    = image_tag('cherapp-ownership-coborrowing-back.svg', alt: t('img_alts.left_arrow'))
.section-body
  .has-text-justified
    %p
      The lack of affordability and rising student debt with revolving credit. Increasing rental rates, while mortgage payments are generally fixed. The desire to not compromise on a fixer upper home in an undesirable location. The ability to gain equity, tax benefits, financial freedom, and even future family opportunities. Co-owning is a stepping stone to buy a home by oneself and these are problems that can be resolved by co-owning a home.
