.full-width-container.is-fully-centered
  .container.has-big-margin-y
    .columns.is-multiline.is-marginless
      .column.is-12.is-fully-centered
        = image_tag 'cherapp-ownership-coborrowing-not_found.svg', width: '50%', alt: t('img_alts.person_thinking')
      .column.is-12.is-fully-centered.is-size-3.is-size-4-mobile
        %p.has-centered-text
          = "This conversation doesn't exists"
