!!! Strict
%html.sg-campaigns{"data-editor-version" => "2", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    / [if !mso]><!
    %meta{:content => "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    / <![endif]
    /[if (gte mso 9)|(IE)]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    /[if (gte mso 9)|(IE)]
      <style type="text/css">
      body {width: 600px;margin: 0 auto;}
      table {border-collapse: collapse;}
      table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
      img {-ms-interpolation-mode: bicubic;}
      </style>
    :css
      body, p, div {
        font-family: arial,helvetica,sans-serif;
        font-size: 14px;
      }
      body {
        color: #000000;
      }
      body a {
        color: #1188E6;
        text-decoration: none;
      }
      p { margin: 0; padding: 0; }
      table.wrapper {
        width:100% !important;
        table-layout: fixed;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }
      img.max-width {
        max-width: 100% !important;
      }
      .column.of-2 {
        width: 50%;
      }
      .column.of-3 {
        width: 33.333%;
      }
      .column.of-4 {
        width: 25%;
      }
      @media screen and (max-width:480px) {
        .preheader .rightColumnContent,
        .footer .rightColumnContent {
          text-align: left !important;
        }
        .preheader .rightColumnContent div,
        .preheader .rightColumnContent span,
        .footer .rightColumnContent div,
        .footer .rightColumnContent span {
          text-align: left !important;
        }
        .preheader .rightColumnContent,
        .preheader .leftColumnContent {
          font-size: 80% !important;
          padding: 5px 0;
        }
        table.wrapper-mobile {
          width: 100% !important;
          table-layout: fixed;
        }
        img.max-width {
          height: auto !important;
          max-width: 100% !important;
        }
        a.bulletproof-button {
          display: block !important;
          width: auto !important;
          font-size: 80%;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        .columns {
          width: 100% !important;
        }
        .column {
          display: block !important;
          width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
        .social-icon-column {
          display: inline-block !important;
        }
      }
    / user entered Head Start
    / End Head user entered
  %body
    %center.wrapper{"data-body-style" => "font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#FFFFFF;", "data-link-color" => "#1188E6"}
      .webkit
        %table.wrapper{:bgcolor => "#FFFFFF", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tr
            %td{:bgcolor => "#FFFFFF", :valign => "top", :width => "100%"}
              %table.outer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :role => "content-container", :width => "100%"}
                %tr
                  %td{:width => "100%"}
                    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tr
                        %td
                          /[if mso]
                            <center>
                            <table><tr><td width="600">
                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:100%; max-width:600px;", :width => "100%"}
                            %tr
                              %td{:align => "left", :bgcolor => "#FFFFFF", :role => "modules-container", :style => "padding:0px 0px 0px 0px; color:#000000; text-align:left;", :width => "100%"}
                                %table.module.preheader.preheader-hide{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-type" => "preheader", :role => "module", :style => "display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;", :width => "100%"}
                                  %tr
                                    %td{:role => "module-content"}
                                      %p
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "6ad9e2be-8b8a-4419-9526-99f07a5a3906", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                %table.wrapper{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "8513d114-e8ca-4041-8628-27d6991212ae", "data-type" => "image", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:align => "center", :style => "font-size:6px; line-height:10px; padding:0px 0px 0px 0px;", :valign => "top"}
                                        %a{:href => "www.cher.app"}
                                          %img.max-width{:alt => "", :border => "0", "data-proportionally-constrained" => "true", "data-responsive" => "true", :src => "http://cdn.mcauto-images-production.sendgrid.net/e1e4535fea1bb147/8abe9398-e1b8-4423-8aff-f4c12a550684/1440x363.png", :style => "display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:50% !important; width:50%; height:auto !important;", :width => "300"}/
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "af4e4698-24df-443d-9152-1b6e5d4cfd7c", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "073da766-28b2-4f5f-8df8-13b63f6505dd", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                = yield
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "b51df44f-9ae9-4a0c-8ebb-ff71d5b0e135", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "359a21e6-97ec-4d16-be9e-5cd415a738d7", "data-type" => "divider", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:0px 50px 0px 50px;", :valign => "top"}
                                        %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "5px", :style => "line-height:5px; font-size:5px;", :width => "100%"}
                                          %tbody
                                            %tr
                                              %td{:bgcolor => "#1600FF", :style => "padding:0px 0px 5px 0px;"}
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-mc-module-version" => "2019-10-22", "data-muid" => "5c234892-49ba-41a3-a768-9869dc5b7414", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :height => "100%", :role => "module-content", :style => "padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;", :valign => "top"}
                                        %div
                                          %div{:style => "font-family: inherit; text-align: center"}
                                            %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: ProximaNova, sans-serif; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; text-align: -webkit-center; color: #222222; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; font-size: 14px"} If you did not make this request or need assistance, please contact Cher Support here or email
                                            %span{:style => "font-size: 14px"}
                                            %a{:href => "", :title => "<span data-offset-key=\"5prkc-1-0\" style=\"box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border: 0px;\"><span data-text=\"true\" style=\"box-sizing: border-box; padding: 0px; margin: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-size: 14px; vertical-align: baseline; border: 0px;\">cher@cher.app</span></span>"}
                                              %span{:style => "box-sizing: border-box; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-top-style: initial; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; text-align: center; color: #1188e6; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; outline-color: initial; outline-style: none; outline-width: initial; text-decoration-line: none; transition-duration: 0.3s; transition-timing-function: ease; transition-delay: 0s; transition-property: color; font-size: 14px"} cher@cher.app
                                          %div
                                %table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "559fc637-4d56-40c1-bc88-8545ebbaf81f", "data-type" => "spacer", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:bgcolor => "", :role => "module-content", :style => "padding:0px 0px 30px 0px;"}
                                %table.module{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-muid" => "1a3de118-988c-4b5e-8d73-c0efb9e8da56", "data-type" => "social", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:align => "center", :style => "padding:0px 0px 0px 0px; font-size:6px; line-height:10px;", :valign => "top"}
                                        %table{:align => "center", :style => "-webkit-margin-start:auto;-webkit-margin-end:auto;"}
                                          %tbody
                                            %tr{:align => "center"}
                                              %td.social-icon-column{:style => "padding: 0px 5px;"}
                                                %a{:alt => "Facebook", :href => "https://www.facebook.com/cherapp", :role => "social-icon-link", :style => "display:inline-block; background-color:#3B579D; height:21px; width:21px;", :target => "_blank", :title => "Facebook"}
                                                  %img{:alt => "Facebook", :height => "21", :role => "social-icon", :src => "https://marketing-image-production.s3.amazonaws.com/social/white/-facebook.png", :style => "height:21px; width:21px;", :title => "Facebook", :width => "21"}/
                                              %td.social-icon-column{:style => "padding: 0px 5px;"}
                                                %a{:alt => "Twitter", :href => "https://twitter.com/cher_app", :role => "social-icon-link", :style => "display:inline-block; background-color:#7AC4F7; height:21px; width:21px;", :target => "_blank", :title => "Twitter"}
                                                  %img{:alt => "Twitter", :height => "21", :role => "social-icon", :src => "https://marketing-image-production.s3.amazonaws.com/social/white/-twitter.png", :style => "height:21px; width:21px;", :title => "Twitter", :width => "21"}/
                                              %td.social-icon-column{:style => "padding: 0px 5px;"}
                                                %a{:alt => "Instagram", :href => "https://www.instagram.com/cher.app", :role => "social-icon-link", :style => "display:inline-block; background-color:#7F4B30; height:21px; width:21px;", :target => "_blank", :title => "Instagram"}
                                                  %img{:alt => "Instagram", :height => "21", :role => "social-icon", :src => "https://marketing-image-production.s3.amazonaws.com/social/white/-instagram.png", :style => "height:21px; width:21px;", :title => "Instagram", :width => "21"}/
                                              %td.social-icon-column{:style => "padding: 0px 5px;"}
                                                %a{:alt => "LinkedIn", :href => "https://www.linkedin.com/company/cher", :role => "social-icon-link", :style => "display:inline-block; background-color:#0077B5; height:21px; width:21px;", :target => "_blank", :title => "LinkedIn"}
                                                  %img{:alt => "LinkedIn", :height => "21", :role => "social-icon", :src => "https://marketing-image-production.s3.amazonaws.com/social/white/-linkedin.png", :style => "height:21px; width:21px;", :title => "LinkedIn", :width => "21"}/
                          /[if mso]
                            </td>
                            </tr>
                            </table>
                            </center>
